/* --- COMPONENT STYLE --- */


/* ==== MENU BUTTON ==== */
.web-site-menu-btn-parent-component,
.web-site-menu-btn-parent-component {
    height: auto;
    width: auto;
    border: none;
    outline: none;
    box-shadow: none;
    background-color: transparent;
    cursor: pointer;
}
.web-site-menu-open-btn-component {
    position: relative;
    display: block;
    width: 40px;
    height: 4px;
    border-radius: 4px;
    background-color: var(--web-site-menu-btn-color);
}
.web-site-menu-open-btn-component::before {
    top: -10px;
    left: 0;
    width: 100%;
}
.web-site-menu-open-btn-component::after {
    top: 10px;
    right: 0;
    width: 80%;
}
.web-site-menu-open-btn-component::before,
.web-site-menu-open-btn-component::after {
    position: absolute;
    height: 100%;
    content: '';
    background-color: inherit;
    border-radius: inherit;
    transition: transform var(--trans-5);
}


/* ==== CLOSE BUTTON ==== */
.web-site-menu-close-btn-component {
    position: relative;
    display: block;
    width: 40px;
    height: 4px;
}
.web-site-menu-close-btn-component::before,
.web-site-menu-close-btn-component::after {
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 4px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    content: '';
    display: block;
    background-color: var(--web-site-menu-btn-color);
    transform: rotate(45deg);
    transition: transform var(--trans-5);
}
.web-site-menu-close-btn-component::after {
    transform: rotate(-45deg);
}